In [16]:
set1 = {"Ali", "Arfa", "Umer", "Naveed"}
set2 = {"Ali", "Arfa", "Umer"}

In [17]:
set1.difference(set2)

{'Naveed'}

In [18]:
set1.union(set2)

{'Ali', 'Arfa', 'Naveed', 'Umer'}

In [19]:
set1.intersection(set2)

{'Ali', 'Arfa', 'Umer'}

In [21]:
set1.difference_update(set2)
set1

{'Naveed'}